body {
    margin: 0;
    height: 850px;
    background: linear-gradient(45deg, #24252A, #404248);
    background-size: 600% 600%;
    font-family: Arial, sans-serif;
    color: white;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes fadeInAnimation {
    0% {
      opacity: 0; /* Start opacity */
    }
    100% {
      opacity: 1; /* End opacity */
    }
}


.content {
    font-family: monospace;
    text-align: center;
    
}

h2 {
    font-size: 50px;
    font-weight: 800;
    margin: 20px;
}

#learn{
    font-style:oblique;
    color: rgb(181, 38, 252);
}

#quote {
    color: #87fa51;
    font-size: 35px;
    font-weight: 600;
    margin: 20px;
}

.info-ticker {
    position: relative;
    top: 10px;
    width: 100%;
    background-color: #24252A;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 5px 0;
}

.info-items {
    display: inline-block;
    padding-left: 100%;
    animation: scroll 12s linear infinite;
}

.info-item {
    display: inline-block;
    margin-right: 50px;
}

.cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 40px;
}

.card {
    background: #fff9f9;
    color: #333;
    border-radius: 28px;
    padding: 20px;
    width: 280px;
    height: 310px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative; 
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card.selected {
    border: 3px solid #2be24c;
    box-shadow: 0 0 10px rgba(138, 43, 226, 0.7);
}

.card.selected::after {
    content: '';
    position: absolute;
    bottom: 365px;
    left: 94%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: #2be24c;
    border-radius: 60%;
    transition: 2s;
    box-shadow: 0 0 10px #35d652;
    opacity: 0;
    animation: fadeInAnimation 0.7s ease forwards; 
}

.card h2 {
    margin: 0 0 10px;
}

.card p {
    font-size: 25px;
    margin-bottom: 10px;
}

.button-container {
    margin-top: 15px;
}

.button {
    width: 150px;
    height: 60px;
    background: #ffe311;
    border: none;
    border-radius: 20px;
    padding: 10px 10px;
    font-family: monospace;
    font-size: 1.5em;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s;
}

.button:hover {
    transform: scale(1.05);
    background: #f4dc26;
}

#last{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -140px;
    color: white;
}

/* Responsiveness for some basic screens  */

@media (min-width: 200px) and (max-width: 279px){
    h2{
        font-size: 40px;
    }
    #quote{
        font-size: 25px;
    }
    .cards-container{
        flex-direction: column;
    }
    .card{
        width: 150px;
        height: 330px;
    }
    .card.selected::after {
        bottom: 335px;
        left: 92%;
    }
}
@media (min-width: 280px) and (max-width: 500px){
    .cards-container{
        flex-direction: column;
    }
    .card{
        width: 235px;
        height: 300px;
    }
    .card.selected::after {
        bottom: 320px;
    }
    #last{
        width: 350px;
        right: -41px;
    }
}

@media (min-width: 501px) and (max-width: 660px){
    .cards-container{
        flex-direction: column;
    }
}

@media (min-width: 661px) and (max-width: 821px){
    .cards-container{
        flex-direction: row;
    }
}